.settingsButton{
	margin: 10px auto;
	width: 32px;
	height: 32px;

	transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    display: block;
}

.settingsButton:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.settingsButton:focus {
	outline:0;
}

.settingsTab{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	width: 70vw;
	background-color: #f1f1f1;
}

.tab{
	border: none;
}

#search{
	margin: auto 0;
	height: 35px;
	width: 15vw;
	display: flex;
	flex-direction: row;
	border: 1px solid gray;
}

#searchBar{
	width: 15vw;
	height: auto;
	padding-left: 10px;
}

#searchSubmit{
	background-color: rgb(210, 210, 210);
	width: 31px;
	height: 31px;
	padding: 2px;
}

#unique{
	margin: auto 0;

}

.splashScreen{
	width: 100%;
	height: 100%;
	background-color: rgb(199, 251, 255);
}

#jar{
	display: flex;
	flex-direction: row;
	position: relative;
	left: -10vw;
	top: 25vh;
	height: 60vh;
	width: 80vw;
	text-align: left;
	z-index: 2;
}

#jar img, #tree img, #jarImg {
	width: 359px;
	height: 478px;
}

#title{
	position: relative;
	left: 50px;
	top: 25%;
	font-size: 4rem;
}

#titleDescription{
	font-weight: lighter;
	font-size: 2rem;
}

#scrollIndicator{
	position: absolute;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 300px;
	height: 100px;
	z-index: 5;
}

#scrollIndicatorInput{
	position: absolute;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 100px;
	height: 100px;
	z-index: 5;
}

#scrollLabel{
	position: relative;
	top: 70px;
}

.loadingIndicator{
	margin: 30px auto;
	font-size: 1.2rem;
	color: rgb(255, 153, 0);
}

#clickMeIndicator{
	position: absolute;
	text-align: center;
	top: -60px;
	left: 65px;
	width: 300px;
	height: 75px;
	z-index: 5;
}

#clickMeIndicatorInput{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 75px;
	height: 75px;
	z-index: 5;
}

#clickLabel{
	color: rgb(255, 0, 153);
	font-weight: bold;
	font-size: 1.6rem;
	position: relative;
}



#jarQuote{
	position: relative;
	top: -35%;
}

#jarQuote .quoteBlock{
	width: 60vw;
	-webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
}


@-webkit-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

#browseTitle{
	font-weight: bold;
	font-size: 1.8rem;
	height: 60px;
	margin-top: 40px;
}


@media screen and (max-width: 767px) {

	#jar{
		flex-direction: column;
		position: relative;
		left: -120px;
		top: 20%;
		height: 60%;
		width: 95vw;
		text-align: center;
	}

	#clickMeIndicator{
		top: -45px;
		left: 30px;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	#clickMeIndicatorInput{
		width: 40px;
		height: 40px;
	}
	#clickLabel{
		font-size: 1.3rem;
	}

	#scrollIndicatorInput{
		width: 50px;
		height: 50px;
	}


	#jarQuote{
		top: 0;
	}
	#jarQuote .quoteBlock{
		width: 90vw;
		height: 32vh;
	}

	#jarQuote .quoteText{
		height: 17vh;
		font-size: 1.2rem;
	}
	#jarQuote .button{
		font-size: 1rem;
		width: 6vh;
	    height: 6vh;
	}
	#jarQuote .gratitudeRatings{
		font-size: 1rem;
		margin-top: 10px;
	}

	#title{
		position: static;
		font-size: 3rem;
	}

	#titleDescription{
		margin: 0 auto;
		width: 70%;
		font-weight: lighter;
		font-size: 1.5rem;
	}


	#jar img, #tree img,#jarImg {
		margin: 0 auto;

		width: 150px;
		height: 200px;
	}

	.settingsButton, .splashScreen{
		/* scroll-snap-align: center; */
	}

}

h4{
	position: relative;
	bottom: 5px;
}

@media screen and (max-width: 1300px) {
	.settingsTab{
		width: 95vw;
		flex-direction: column;
	}

	#search, #searchBar{
		margin: 0 auto;
		width: 60vw;
	}
	#unique, .tab, #search{
		margin: 10px auto;
	}


}
