body,html {
	margin:0px;
	padding: 0px;
	height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
	text-align: center;
	color:black;
	background-color: white;
	z-index: -2;
}

.navbar{
    width: 100%;
    position: fixed;
    display: flex;
	background-color: orange;
	z-index: 100;
}

.navbar img{
    margin: auto 4%;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.intro{
    z-index: -1;
    position: relative;
		padding: 50px 5px 0 5px;
		text-align: center;
}

.intro p {
	margin: 20px;
}

.intro strong{
    font-size: larger;
    text-decoration: underline;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.navbar li{
    list-style: none;
    margin: auto;
}

.navanchors{
    margin: auto;
    padding: auto;
    width: 80%;
}

.navbar ul li a {
    color:white;
    font-weight: bolder;
    font-size: 2.5vh;
    width: 1%;
}


* {
	font-family: Calibri, Trebuchet MS, sans-serif	;
}


html {
	scroll-snap-type: y mandatory;
}



.quote_container{
	display: flex;
	justify-content: center;
}

.quoteBlock{
	height: 75vh;
  	width: 100vw;
	padding-top: 10%;
	text-align: center;
	position: relative;
	border: 1px solid gray;
}

.quoteText{
	margin: 20px auto 0 auto;
	display: block;
	width: 90%;
	height: 45vh;
	overflow: auto;
	word-wrap: break-word;
}

.buttons{
	display: flex;
	height: 15vh;
	width: 80vw;
	margin: 0px auto 50px auto;
	justify-content: space-around;
}

.button:hover{
    text-decoration: underline;
}

.gratitudeRatings{
	margin: 20px 0 0 0;
	font-size: 1.2rem;
	color: purple;
}

.button{
	font-size: 2rem;
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: none;
  cursor: pointer;
  width: 15vh;
  height: 15vh;
}

#goodButton{
	color: rgb(46, 197, 46);
}
#badButton{
	color: rgb(170, 17, 17);
}

.reportButton{
	right: 10px;
	top: 10px;
	width: 5vh;
	height: 5vh;
	position: absolute;
}

.favoriteButton{
	left: 20px;
	top: 20px;
	width: 5vh;
	height: 5vh;
	position: absolute;
}

.deleteButton{
	width: 5vh;
	height: 5vh;
}

.unfavoriteButton{
	width: 5vh;
	height: 5vh;
}

.submitSuccess{
	font-size: x-large;
	margin: 100px auto;
}

.submitAnother a{
	font-size: 2rem;
	color: orange;
}

#posts_root{
	width: 80%;
	margin:auto;
}

#prevPosts{
	font-size: 30px;
}

.quoteEditBar{
	display: flex;
	margin: 50px;
	justify-content: space-around;
}

.logoutButton{
	margin:auto;
}



/* MOBILE */
@media screen and (max-width: 767px) {
	.quoteBlock{
		padding-top: 10%;
		height: 60vh;
	}

	.quoteText{
		height: 30vh;
	}

	.buttons{
		margin-top: 0.5vh;
	}

	.button{
		font-size: 1rem;
		margin-top: 8vh;
		width: 10vh;
	    height: 10vh;
	}

	.navbar ul {
        flex-direction: column;
        padding: 0;
    }

	.quote_container{
		scroll-snap-align: center;
	}

    .intro {
		scroll-snap-align: center;
        padding-top: 100px;
    }
}
